  archive:
    container_name: archive
    restart: on-failure
    build:
      context: ./apps/archive
      target: local
    volumes:
      - ./apps/archive:/app
      - ./node_modules:/node_modules  
    depends_on:
      - keydb
      - mongo
    env_file:
      - ./apps/archive/.env
    environment:
      - NODE_ENV=local
      - PRINT_ENV=true
      - START_SWAGGER=true
    ports:
      - 3004:3004
    networks:
      - re-sync-network