  messages:
    container_name: messages
    restart: on-failure
    build:
      context: ./apps/messages
      target: local
    volumes:
      - ./apps/messages:/app
      - ./node_modules:/node_modules  
    depends_on:
      - keydb
    env_file:
      - ./apps/messages/.env
    environment:
      - NODE_ENV=local
      - PRINT_CONFIG=true
      - ENABLE_SWAGGER=true
    ports:
      - 3000:3000
      - 4000:4000
    networks:
      - ckir.io-network