  archives:
    container_name: archives
    restart: on-failure
    build:
      context: ./apps/archives
      target: local
    volumes:
      - ./apps/archives:/app
      - ./node_modules:/node_modules  
    depends_on:
      - keydb
      - mongo
    {%- if not USE_MONGO_SINGLE_NODE | bool %}
      - mongo_two
      - mongo_three
    {% endif %}
    env_file:
      - ./apps/archives/.env
    environment:
      - NODE_ENV=local
      - PRINT_CONFIG=true
      - ENABLE_SWAGGER=true
    ports:
      - 3001:3001
    networks:
      - ckir.io-network