  redisInsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    restart: on-failure
    depends_on:
      - keydb
    ports:
      - 5540:5540
    volumes:
      - redis_insight:/data
    networks:
      - re-sync-network